[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
location-guessing-game-telegram-bot = {path = ".", editable = true}

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

# python3.10 compatibility
# >    File "[...]/lib/python3.10/site-packages/_pytest/_code/code.py", line 60, in <module>
# >     from exceptiongroup import BaseExceptionGroup
# > ModuleNotFoundError: No module named 'exceptiongroup'
exceptiongroup = {markers = "python_version < '3.11'"}
# >   File "[...]/lib/python3.10/site-packages/_pytest/config/findpaths.py", line 71, in load_config_dict_from_file
# >     import tomli as tomllib
# > ModuleNotFoundError: No module named 'tomli'
tomli = {markers = "python_version < '3.11'"}

# > tests/conftest.py:24: in <module>
# >     from location_guessing_game_telegram_bot import _Photo
# > location_guessing_game_telegram_bot/__init__.py:30: in <module>
# >     import telegram.ext
# > …/site-packages/telegram/ext/__init__.py:30: in <module>
# >     from .jobqueue import JobQueue, Job
# > …/site-packages/telegram/ext/jobqueue.py:26: in <module>
# >     from apscheduler.events import EVENT_JOB_ERROR, EVENT_JOB_EXECUTED, JobEvent
# > …/site-packages/apscheduler/__init__.py:1: in <module>
# >     from pkg_resources import get_distribution, DistributionNotFound
# > E   ModuleNotFoundError: No module named 'pkg_resources'
setuptools = "<82"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
